 <div class = "thing-container">
            <div class = thing-card *ngFor="let thing of structured_things"> <!-- Sort things -->
                    <div  class="card card-chart" id = card_i>
                            <div class="card-header card-header-primary">
                                <div class = "thing_header">
                                                                <div class = "thing_title">
                                                                <h4 class="card-title">{{thing.thing_name}}</h4>
                                                                </div>
                                </div>
                            </div>
                            <div class="card-body">
                                    <h5 *ngIf=!HasProperty(thing) >No property available</h5>
                                    <div *ngIf=HasProperty(thing)  class = thing_table>
                                                  <table class="table table-striped">
                                                                <thead>
                                                                <tr>
                                                                  <th scope ="col">Name</th>
                                                                  <th scope="col">ID</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr *ngFor="let property of thing.thing_properties; index as i" >
                                                                                <td>{{property.property_name}}</td>
                                                                                <td>{{property.property_id}}</td>     
                                                                            </tr>
                                                                </tbody>
                                                              </table>
                                    </div>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <span>
                                     <i class="fas fa-info-circle"></i> {{descriptionT(thing)}}
                                    </span>
                                </div>
                            </div>
                    </div>
            </div>
    </div>