.top-container{
    display: inline-table;
    width:  100%;
    text-align: center;
    max-height: 500px;
}

.create-task-container{
    margin-top: 2%;
    display: table-row;
    width: 40%;
    float:right;
    margin-right: 7%
}

.stats-container{
    display: table-row;
    width: 40%;
    margin-left: 7%;
    float: left;
}

.bottom-container{
    width:  100%;
    text-align: center;
    margin-top: 2%;
    margin-bottom:2%
}

.task-list-container{
    width: 86%;
    margin: 0 auto;
}

.milestone-status{
    float: left;
    
}

.milestone-shared-properties{
    margin-top: 50px;
    float: right
}
