<h3 style = "text-align: center">Tasks</h3>
<div class="top-container">
        <div class ="stats-container">
                <lib-stats></lib-stats>
        </div>
        
         <div class="create-task-container">
            <mat-card>
                    Create Task
                    <mat-form-field>
                            <input matInput [(ngModel)]="new_task_name" placeholder="Name">
                        </mat-form-field>
                    
                        <mat-form-field>
                                <mat-label>Type(s)</mat-label>
                                <mat-select [(ngModel)]="new_task_types" multiple>
                                  <mat-option *ngFor="let type of GetPropertyType()" [value]="type">
                                    {{type}}
                                  </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <textarea placeholder="Description" cols="50" rows="10"></textarea>
                    
                        <p-calendar placeholder="Range date" [(ngModel)]="new_task_range" selectionMode="range" [readonlyInput]="true"></p-calendar>
                    
                        <button style ="margin-left: 2%" mat-mini-fab color="primary" [disabled] = "CheckTask()" (click)="CreateTask(new_task_name,new_task_types,new_task_range,new_task_description)"  >
                                <i class="fas fa-plus" ></i>
                        </button>
            </mat-card>
        </div>
</div>

<div class="bottom-container">
    <div class ="task-list-container">
        <mat-card>
                TaskList
                <table class="table table-striped">
                                <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Date</th>
                                  <th scope ="col">Name</th>
                                  <th scope="col">Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let task of tasks; index as i" >
                                                <td>{{i+1}}</td>
                                                <td>{{task.getDate()}}</td>
                                                <td>{{task.name}}</td>
                                                <td>
                                                        <mat-progress-bar
                                                        [value]="TaskPercentage(task)">
                                                        </mat-progress-bar>
                                                </td>
                                                <th scope="row">
                                                        <button style="float: right" pButton type="button" (click)="showDialog_Task(task)" icon="pi pi-th-large"></button>
                                                </th>
                                        </tr>
                                </tbody>
                        </table>
        </mat-card>
    </div>
</div>
<p>
<br><br>
</p>

<p-dialog [(header)]="task_picked.name" [(visible)]="display_task" [modal]="true" [responsive]="true" [style]="{width: '80%', minWidth: '1000px'}" 
     [maximizable]="true" [baseZIndex]="10000">
     <div>
        <h3 style="text-align: center">List of resources</h3>
        <mat-accordion>
                <mat-expansion-panel *ngFor="let resource of task_picked.resources">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{resource.id}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{resource.milestones[resource.milestones.length-1].status}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <vertical-timeline> 

                                <vertical-timeline-card *ngFor="let milestone of resource.milestones" [dateValue]="getDate(milestone.timestamp)">
                                        <div class = "milestone-status">
                                                                Status  :    {{milestone.status}}
                                        </div>
                                        
                                        <div class = "milestone-shared-properties">
                                                                {{milestone.shared_properties.join()}}
                                        </div>    

                                </vertical-timeline-card>
                               
                            </vertical-timeline>
                </mat-expansion-panel>
        </mat-accordion>
     </div>
     <p-footer>
        {{task_picked.types.join()}} from : {{getDate(task_picked.from)}}, to : {{getDate(task_picked.to)}}
     </p-footer>
</p-dialog>