<h3 style = "text-align: center">Tasks</h3>
<div class="top-container">
        <div class ="stats-container">
                <lib-stats></lib-stats>
        </div>
        
         <div class="create-task-container">
            <mat-card>
                    Create Task
                    <mat-form-field>
                            <input matInput [(ngModel)]="new_task_name" placeholder="Name">
                        </mat-form-field>
                    
                        <mat-form-field>
                                <mat-label>Type(s)</mat-label>
                                <mat-select [(ngModel)]="new_task_types" (selectionChange)="OnChange()" multiple>
                                  <mat-option *ngFor="let type of GetPropertyType()" [value]="type">
                                    {{type}}
                                  </mat-option>
                                </mat-select>
                        </mat-form-field>

                        <textarea placeholder="Description" cols="50" rows="10"></textarea>
                    
                        <p-calendar placeholder="Range date" [(ngModel)]="new_task_range" selectionMode="range" [readonlyInput]="true"></p-calendar>
                    
                        <button style ="margin-left: 2%" mat-mini-fab color="primary" [disabled] = "CheckTask()" (click)="CreateTask(new_task_name,new_task_types,new_task_range,new_task_description)"  >
                                <i class="fas fa-plus" ></i>
                        </button>
            </mat-card>
        </div>
</div>

<div class="bottom-container">
    <div class ="task-list-container">
        <mat-card>
                TaskList
                <table class="table table-striped">
                                <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Date</th>
                                  <th scope ="col">Name</th>
                                  <th scope="col">Progress</th>
                                </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let task of tasks; index as i" >
                                                <td>{{i}}</td>
                                                <td>{{task.getDate()}}</td>
                                                <td>{{task.name}}</td>
                                                <td>
                                                        <mat-progress-bar
                                                        [value]="TaskPercentage(task)">
                                                        </mat-progress-bar>
                                                </td>
                                                <th scope="row">
                                                        <button style="float: right" pButton type="button" (click)="showDialog_Task(task)" icon="pi pi-th-large"></button>
                                                </th>
                                        </tr>
                                </tbody>
                        </table>
        </mat-card>
    </div>
</div>
<p>
<br><br>
</p>

<p-dialog [(header)]="task_picked.name" [(visible)]="display_task" [modal]="true" [responsive]="true" [style]="{width: '60%', minWidth: '700px'}" 
     [maximizable]="true" [baseZIndex]="10000">
     <div>
        table with all the people involved and their advancements / steps
     </div>
     <p-footer>
        task footer
     </p-footer>
</p-dialog>