<h3 style = 'text-align: center' *ngIf = 'data_collection_things.length == 0'>No Data collection availaible</h3>
<div class = "precision-container">
    <mat-form-field>
            <mat-label>Precision</mat-label>
            <mat-select [(ngModel)]="time_ms" (selectionChange)="changePrecision($event)">
              <mat-option *ngFor="let precision of precisions " [value]="precision.value">
                {{precision.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
</div>
<div class = "thing-container">
    <div class = thing-card *ngFor="let thing of data_collection_things"> <!-- Sort things -->
            <div  class="card card-chart" id = card_i>
                    <div class="card-header card-header-primary">
                        <div class = "thing_header">
                                                        <div class = "thing_title">
                                                        <h4 class="card-title">{{thing.thing_name}}</h4>
                                                        </div>
                                                        <div class = "thing_nav">
                                                                 <button mat-icon-button color="grey" (click)="nav_thing(thing)"  >
                                                                        <i class="fas fa-search" ></i>
                                                                </button>
                                                        </div>
                        </div>
                    </div>
                    <div class="card-body">
                            <h5 *ngIf=!HasProperty(thing) >No property available</h5>
                            <div *ngIf=HasProperty(thing)  class = thing_table>
                                          <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                          <th scope ="col">Name</th>
                                                          <th scope="col">ID</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr *ngFor="let property of thing.thing_properties; index as i" >
                                                                        <td>{{property.property_name}}</td>
                                                                        <td>{{property.property_id}}</td> 
                                                                        <td>
                                                                        <button mat-icon-button color = "primary" (click)="showDialog_property(thing,property)"  >
                                                                                <i class="fas fa-clone" ></i>
                                                                                </button>
                                                                        </td>    
                                                                 </tr>
                                                        </tbody>
                                                      </table>
                            </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <span>
                             <i class="fas fa-info-circle"></i> {{descriptionT(thing)}}
                            </span>
                        </div>
                    </div>
            </div>
    </div>
</div>

<p-dialog [(header)]="property_picked.property_name" [(visible)]="display_property" [modal]="true" [responsive]="true" [style]="{width: '60%', minWidth: '700px'}" 
[maximizable]="true" [baseZIndex]="10000">

<div>
<app-property *ngIf = display_property [ChildProperty]="property_picked" [RangeTime]="RangeTime" ></app-property>
</div>
<p-footer>
     <div class ="property_description">
                     <span>
                                     <i class="fas fa-info-circle"></i> {{descriptionP(property_picked)}}
                     </span>
     </div>
     <div class ="property_delete">
                     <button mat-icon-button color="grey" (click)="delete_property(property_picked)"  >
                                     <i class="fas fa-trash" ></i>
                     </button>
     </div>
</p-footer>
</p-dialog>