<nav class="nav-links">
    <a routerLink="/page/home">
        <i class="fas fa-home"></i>
        Home
    </a> 
    <a routerLink="/page/things">
        <i class="fas fa-table"></i>
        My things
    </a>
    <a routerLink="/page/tasks">
        <i class="fas fa-tasks"></i>
        Tasks
    </a>
    <a routerLink="/page/notifications">
        <i class="fas fa-bell"></i>
        Notifications
    </a>
    <a routerLink="/page/user">
        <i class="fas fa-user"></i>
        User
    </a>
    
    <div class="logout" >
           {{name}}
        <button mat-raised-button color="warn" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
              Logout
        </button>
    </div>

</nav>