<div class = "thing-container">
                <div class = "add-thing" >
                     <button mat-mini-fab color="grey" (click)="openDialogAddThing()"  >
                                             <i class="fas fa-plus" ></i>
                      </button>
                </div>
                <h3 style = 'text-align: center' *ngIf = 'things.length == 0'>No thing availaible</h3>
                 <div class = thing-card *ngFor="let thing of things"> <!-- Sort things -->
                         <div  class="card card-chart" id = card_i>
                                 <div class="card-header card-header-success">
                                     <div class = "thing_header">
                                                                     <div class = "thing_title">
                                                                     <h4 class="card-title">{{thing.thing_name}} ({{thing.thing_id}})</h4>
                                                                     </div>
                                                                     <div class = "thing_nav">
                                                                     <button mat-icon-button color="grey" (click)="openDialogAddProperty(thing)"  >
                                                                                                     <i class="fas fa-plus" ></i>
                                                                     </button>
                                                                      <button mat-icon-button color="grey" (click)="nav_thing(thing)"  >
                                                                             <i class="fas fa-search" ></i>
                                                                     </button>
                                                                     </div>
                                     </div>
                                 </div>
                                 <div class="card-body">
                                         <h5 *ngIf=!HasProperty(thing) >No property available</h5>
                                         <div *ngIf=HasProperty(thing)  class = thing_table>
                                                       <table class="table table-striped">
                                                                     <thead>
                                                                     <tr>
                                                                       <th scope ="col">Name</th>
                                                                       <th scope="col">Type</th>
                                                                     </tr>
                                                                     </thead>
                                                                     <tbody>
                                                                             <tr *ngFor="let property of thing.thing_properties; index as i" >
                                                                                     <td>{{property.property_name}}</td>
                                                                                     <td>{{property.property_type}}</td>
                                                                                     <td>
                                                                                     <button mat-icon-button color = "primary" (click)="showDialog_property(property)"  >
                                                                                      <i class="fas fa-clone" ></i>
                                                                                      </button>
                                                                                     </td>
                                                                                     
                                                                                 </tr>
                                                                     </tbody>
                                                                   </table>
                                         </div>
                                 </div>
                                 <div class="card-footer">
                                     <div class="stats">
                                         <span>
                                          <i class="fas fa-info-circle"></i> {{descriptionT(thing)}}
                                         </span>
                                     </div>
                                     <div class ="thing_delete">
                                             <button mat-icon-button color="grey" (click)="delete_thing(thing)"  >
                                                     <i class="fas fa-trash" ></i>
                                             </button>
                                     </div>
                                 </div>
                         </div>
                 </div>
         </div>
        
        
        <p-dialog [(header)]="property_picked.property_name" [(visible)]="display_property" [modal]="true" [responsive]="true" [style]="{width: '60%', minWidth: '700px'}" 
             [maximizable]="true" [baseZIndex]="10000">
        
             <div>
             <app-property *ngIf = display_property [ChildProperty]="property_picked" ></app-property>
             </div>
             <p-footer>
                     <div class ="property_description">
                                     <span>
                                                     <i class="fas fa-info-circle"></i> {{descriptionP(property_picked)}}
                                     </span>
                     </div>
                     <div class ="property_delete">
                                     <button mat-icon-button color="grey" (click)="delete_property(property_picked)"  >
                                                     <i class="fas fa-trash" ></i>
                                     </button>
                     </div>
             </p-footer>
        </p-dialog>