<div class = "chart-container">
    <web-google-maps *ngIf = ref [apiKey]="apiKey" [lat]="lat" [lng]="lng" [markers] ="markers" [options]="options"></web-google-maps>
    <web-google-maps *ngIf = !ref [apiKey]="apiKey" [lat]="lat" [lng]="lng" [markers] ="markers" [options]="options"></web-google-maps>
</div>
<div *ngIf = "showData">
        <div class = 'date-container'> {{dimensions[0].data[index].name}}</div>
        <div class = 'data-container'>
               <div *ngFor = "let dimension of dimensions" class = "data-container-i">
                   {{dimension.dimension}} = {{dimension.data[index].value}} {{dimension.unit}}
               </div>
        </div>
        <div class ='date-slider-container'*ngIf = "showSlider" >
               <p-slider [style]="{'width':'100%'}" (onChange)="handleChange($event)" [(max)]="dimensions[0].data.length"></p-slider>
        </div>
</div>
<div class = 'button-refresh-container'>
        <button (click)="refresh()">Refresh</button>
</div>
