<div class ="property-container">

        <div class = "calendar-container">
                <p-calendar *ngIf = !checked [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="getValues(rangeDates)"></p-calendar>
                <mat-slide-toggle style ="float: right"
                        [checked]="checked"
                        (change)="toggle($event)"
                        color = "primary"
                        >
                         {{mode}}
                </mat-slide-toggle>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'MAPS'">
                <app-google-maps 
                        [values] = "values"
                        [property_dimensions] ="ChildProperty.dimensions" 
                        [entity_id] ="ChildProperty.entity_id"  
                        [apiKey]="apiKey" 
                        [checked]="checked">
                </app-google-maps>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'RADAR'">
                <app-radar-chart 
                        [values] = "values"
                        [property_dimensions] = "ChildProperty.dimensions" 
                        [property_type] = "ChildProperty.type"
                        >
                </app-radar-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'DOUBLE'">
                <app-double-dimension-chart 
                        [values] = "values"
                        [property_dimensions] ="ChildProperty.dimensions"
                        >
                </app-double-dimension-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'LINE'">
                <app-line-chart 
                        [property_dimensions] ="ChildProperty.dimensions"
                        [values] = "values">
                </app-line-chart>
        </div>
        
</div>