<div class ="property-container">

        <div class = "calendar-container">
                <p-calendar *ngIf = !checked [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="getValues(rangeDates)"></p-calendar>
                <mat-slide-toggle style ="float: right"
                        [checked]="checked"
                        (change)="toggle($event)"
                        color = "primary"
                        >
                         {{mode}}
                </mat-slide-toggle>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'MAPS'">
                <app-google-maps [property] ="ChildProperty" [values] = "values"  [dimensions] = "dimensions" [apiKey]="apiKey" [checked]="checked"></app-google-maps>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'RADAR'">
                        <app-radar-chart [property] ="ChildProperty" [values] = "values" [dimensions] = "dimensions"></app-radar-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'DOUBLE'">
                        <app-double-dimension-chart [property] ="ChildProperty" [values] = "values"  [dimensions] = "dimensions"></app-double-dimension-chart>
        </div>
        
        <div class = "chart-container" *ngIf = "chart_type == 'LINE'">
                        <app-line-chart [property] ="ChildProperty" [values] = "values"  [dimensions] = "dimensions" [apiKey]="apiKey"></app-line-chart>
        </div>
        
</div>