<div class = "chart-container" #container>
    <ngx-charts-line-chart
    [view]="[container.offsetWidth,400]"
    (window:resize)="onResize($event)"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    >
    </ngx-charts-line-chart>
    
    </div>
    
    <div *ngIf = "showData">
        <div class = 'date-container'>{{date}}</div>
        <div class = 'data-container'>
               <div *ngFor = "let dim of property_dimensions; let i = index" class = "data-container-i">
                   {{dim.name}} = {{values[index_slider][i+1]}} {{dim.unit}}
               </div>
        </div>
        <div class ='date-slider-container'>
               <p-slider [style]="{'width':'100%'}" (onChange)="handleChange($event)" [(max)]="sliderSize"></p-slider>
        </div>
    </div>