.data-container {
    display: table;
    text-align: center;
    width:  100%
}

.data-container-i {
    display: table-cell;
}

.date-slider-container {
    margin-top: 2%;
}

.date-container{
    text-align: center
}
