/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body { 
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
