<div class = "display-mode">
  <div>
    <mat-slide-toggle style ="float: right"
      [checked]="checked"
      (change)="toggle($event)"
      color = "primary"
      >
    Change mode
  </mat-slide-toggle>
  <h3>MODE : {{mode}}</h3>
  </div>
      <p-calendar [maxDate]="dateTime" *ngIf="checked" placeholder="Choose your range date"[(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" (onSelect)="getValues(rangeDates)"></p-calendar>
</div>
<div class = "display-container">
    <lib-property-types [properties]="properties" *ngIf="!checked"></lib-property-types>
    <lib-data-collections [properties]="properties" *ngIf="checked"></lib-data-collections>
</div>
